.item-card{
  background-color: rgb(255, 255, 255);
  border-style:none ;
  border-width: 2px;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display:flex;
  flex-direction: column;
  height:330px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transition:transform 0.2s ease-in-out;
}
.item-card:hover{
  transform: scale(1.02);
}
.item-card .item-image{
  width:97%;
  height:97%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  max-height: 230px;
  object-fit:cover;
  filter:blur(7px);
}
.item-card .image-container{
  height: 230px;
  overflow: hidden;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.item-card .item-details{
  padding-left: 5px;
  height: 120px;
}
.item-details h3{
  margin:0%;
}
.item-details p,h3{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;

}
.item-card .buttons{
  display: flex;
  justify-content: center;
  gap:10px;


}
.item-card .contact-btn ,.item-card .details-btn{
  padding-left:15px;
  padding-right: 15px;
  margin:10px;
  background-color: rgb(0, 0, 255);
  color:white;
  border:none;
  padding:7px 15px;
  border-radius:20px;
  transition: all 0.3s ease;
}
.item-card .contact-btn:hover ,.item-card .details-btn:hover{
  background-color: rgb(180, 180, 180);
  color:rgb(0, 0, 0);
  transform: scale(1.1);
}
.item-card .item-claimed{
  font-size:large;
  font-weight: bolder;
  padding-left:15px;
  padding-right: 15px;
  margin:10px;
}


