.navigationBar{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  border-bottom: solid rgb(4, 0, 255) 2px;
}

.navigationBar button{
  background-color: rgb(23, 1, 100);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius:30px;
  padding:5px 15px;
  cursor:pointer;
  font-size: 20px; 
}
.navigationBar .logout-btn{
  background-color: rgba(155, 0, 0, 0.883);
}
.navigationBar .estin-logo{
  width: 9rem;
}