.terms-container{
  background-image: URL(../assets/terms.jfif);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
.terms{
  background-color: aliceblue;
}